/* .wrap,footer, .wrap_order, .wrap_product_home{
    
    background-color: black;
    max-width: 1900px;
    width: 100%;
    min-width: 1270px;

}

section, .three_box, .gift{
    width: 1270px;
    margin: 0 auto;
    text-align: center;
} */

.wrap, .wrap_product_home, .wrap_order, .wrap_brand , .wrap_mypage, .wrap_recycling, .wrap_join
, .wrap_coffee{
    background-color: black;
    margin: 0 auto;
    width: 100%; text-align: center;
}

.width1900{
    width: 100%;
    margin: 0 auto;
    text-align: center; background-color: black;
}

.width1660{
    width: 100%;
    max-width: 1660px;
    margin: 0 auto;
    text-align: center; background-color: black;
}

.width1270{
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    text-align: center; background-color: black;
}




/* 폰트 */
body div header, .mainbanner h2,section h3,
.sub_banner div h1, .total span, .en_font{
    font-family: playfair-display, serif;
    font-style: normal;
    font-weight: 700;
}

/* 한글폰트 */
body div header div nav ul li,.mainbanner p, .fore_box h3, .k_font,
 .fore_box, .width1270, .sub_banner div p, .product, .bxslider, .wrap_brand
 
 {
    font-family: rixsingose-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
}

/* 로그인 */


body div header>ul:nth-of-type(1){ 
    max-width: 1900px;
    width: 365px;
    padding: 15px 0;
    margin-left: 76%;
}

body div header ul::after{content:''; display:block; visibility:hidden; clear:both;}
body div header ul li::after{content:''; display:block; visibility:hidden; clear:both;}

body div header>ul:nth-of-type(1)>li{
    
    text-align: right;
    list-style: none;
    float: left;
    color: white;
    font-size: 13px;
    margin-left: 25px;    
}

body div header ul li a{
    color: white;
    text-decoration: none;

}

/* 로고이미지 */
body div header div h1 a img{
    width: 200px; height: 45px; 
}

header h1{
    position: absolute;
    left: 100px;
    top: 20px;
}

/* 메뉴 */

body>div header div nav ul::after{content:''; display:block; visibility:hidden; clear:both;}

/* 메뉴 hover */
/* body>div>header>div>nav>ul>li:hover::before{
    content:'';
    display:inline-block;
    width:6px;
    height:6px;
    margin: -6px -25px 30px -6px;
    vertical-align:middle;
    background:#7a5d49;
    border-radius:50%
} */

/* 메뉴 */
header>div{
    height: 80px;
    width: 100%;
    position: relative;
    border: 1px white solid;
    border-left: none;
    border-right: none;
}


body div header div nav{
    margin: 0 auto;
    height: 16px;
    width: 974px;
    padding: 32px 0;
}    


header::after{content:''; display:block; visibility:hidden; clear:both;}

body div header div nav>ul>li{
    padding: 0 75px;
    font-size: 17px;
    float: left;
    position: relative;
}

/* 하단메뉴 */
header div nav>ul>li>ul>li{
    text-align: center;
}

body div header div nav ul li ul{
    display: block;
    background-color: black;
    border: 1px solid white;
    width: 140px;
    /* right: 46%; */
    height: 150px;
    line-height: 40px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 30px;
    margin: 0 auto;
    z-index: 1;
}


/* 하단메뉴에 hover */

body div header div nav>ul>li:hover ul{
    visibility: visible;
    opacity: 1;
    transition: all 0.15s ease-in;

}

body div header div nav ul li ul li:hover{
    color: #7a5d49;
		cursor: pointer;
}


/* box4개영역 */

figure,figcaption{
    margin: 0;
    padding: 0;
}

.fore_box ul::after{content:''; display:block; visibility:hidden; clear:both;}

.fore_box ul li{
    list-style: none;
    /* display: inline-block; */
    float: left;
    width: 23.5%;
    margin-right: 2%;   
}
.fore_box ul>li:nth-of-type(4){
    margin: 0;
}

.fore_box figure>img{
    width:100%;
}

.fore_box figure figcaption{
    background-color: white;
    width: 100%; height: 125px;
    color: black;
}

.fore_box figure figcaption dl dt{
    font-size: 18px;
    padding-top: 25px;
    font-weight: 900;
}

.fore_box figure figcaption dl dd{
    font-size: 14px;
    padding: 13px 30px 0;
    line-height: 15px;
    font-weight: 300;
    opacity: 80%;
}



/* footer영역 */

/* footer 선 */
footer{
    border-top: 1px white solid;
}
/* footer>div:nth-of-type(2)::before{
    display: block; 
    background-color: white; content: "";
    width: 100%; height: 1px;
    margin-top: 30px;
} */

footer::after{content: ''; display: block; clear: both;}

footer>div:nth-of-type(2){
    border-top: 1px white solid;
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: black;
    line-height: 25px;
    clear: both;
}


.cookie ul li a, .coffee ul li a{
    text-decoration: none;
    color: white;
    
}

footer div ul li{
    list-style: none; text-align: right;
}

footer div>ul{
    float: right;
}

footer div ul li ul li{
    padding: 15px 0;
}

.cookie ul li, .coffee ul li{
    float: left; list-style: none; 
}

/* select부분 */


.company select{
    width: 150px;
    height: 55px;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    float: left;
    margin-top: 28px; margin-left: 260px;
}
/* li부분 */
.coffee{margin-left: 90px;
        display: block;}
.company{ padding: 35px 0;}



.company::after, footer ul>li > ul::after{content: ''; display: block; clear: both;}



/* li옆에 | 표시 */

.cookie ul>li::after, .coffee ul>li::after{
    content: "";
    width: 1px;
    height: 15px;
    margin: 0 5px;
    background-color: white;
    display: inline-block;
}

.cookie ul>li:last-child::after, .coffee ul>li:last-child::after{
    display: none;
}

.footer_span span{
    color: #bb8556;
}

